body {
    background-color: white; 
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .calendar-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: white; 
  }
  
  .calendar-container {
    width: 500px;
    height: 300px;
    padding: 50px;
    background-color:#A8DADC ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .calendar-header button {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .calendar-header span {
    font-size: 18px;
    font-weight: bold;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  
  .calendar-day {
    text-align: center;
    font-weight: bold;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 3px;
  }
  
  .calendar-date {
    text-align: center;
    padding: 10px;
    background-color: #e6e6e6;
    border-radius: 3px;
  }
  
  .calendar-date.empty {
    background-color: transparent;
  }
  